
/*Carousel */
.carousel {
    width: 100%;
    height: 230px; 
  }
  
  .carousel .carousel-inner {
    width: 100%;
    height: 230px; 
  }
  
  .carousel .carousel-item {
    width: 100%; 
    height: 230px;
  }
  
   /* .carousel .item img {
    width: 100%;
    height: 100%; 
  } 
   */


  /*Grids */

  .container-grid{

    
   
    background-color: #FFFFFF;
    padding: 20px;
    

  }

  .titulo-grid{
    padding: 40px;
    
  }
  
  .solid p{
    
  
    color:#037E52 ;
    
  }
  .grid1, .grid2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las imágenes */
    margin-bottom: 20px;
  }

  .grid2 {
    justify-content: center;
    margin-left: 120px; 
    margin-right:120px;/* Centra el contenido de grid2 */
  }

 
  .grid1 img{
    width: 300px;
    height: 350px;
   
  }

  






/* Productos */

.container-productos{

  padding: 20px;
  

}

.lista-productos ul{
  border: 2px solid black;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  display: flex;
  list-style: none;

}